#{extends 'main.html' /}
<h3><a href="@{Applications.deploy()}">Deploy new Application</a> | <a href="@{Applications.index()}">Refresh</a></h3>
<table>
	<tr>
		<th><b>Application name</b></th>
		<th><b>Status</b></th>
		<th><b>Started</b></th>
		<th><b>Actions</b></th>
	</tr>
	#{list items:applications, as:'application'}
		<tr>
			<td>${application.name}</td>
			<td>
				#{if application.running}
					RUNNING
				#{/if}	
				#{else}
					Not running
				#{/else}
			</td>
			<td align="center">${application.started}</td>			
			<td align="center">
				#{if application.running}
					<a href="@{Applications.stop()}/${application.name}"><img src="@{'/public/images/stop.png'}" title="Stop ${application.name}" alt="Stop ${application.name}"></a>
					<a href="@{Applications.status()}/${application.name}" class="showlog"><img src="@{'/public/images/status.png'}" title="Show status" alt="Show status"></a>
				#{/if}
				#{else}
					<a href="@{Applications.start()}/${application.name}"><img src="@{'/public/images/start.png'}" title="Start ${application.name}" alt="Start ${application.name}"></a>
				#{/else}
			  	    <a href="@{Applications.showlog()}/${application.name}" class="showlog"><img src="@{'/public/images/log.png'}" title="Show log" alt="Show log"></a>
			  	    <a href="@{Applications.redeploy()}/${application.name}"><img src="@{'/public/images/redeploy.png'}" title="Redeploy" alt="Redeploy"></a>
			  	    <a href="@{Applications.delete()}/${application.name}" onclick="return confirm('Are you sure you want to delete?')"><img src="@{'/public/images/delete.png'}" title="Delete ${application.name}" alt="Delete ${application.name}"></a></td>
		</tr>
	#{/list}
	#{else}
		<tr>
			<td colspan="4">No Applications</td>
		</tr>
	#{/else}	
</table>	
